@media(orientation: landscape) {
  article {
      width: 50%;
  }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

@media(orientation: portrait) {
    article {
        width: 100%;
    }
}